services:
    db:
        image: postgres:latest
        env_file:
            - ../.env
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - ./db-data:/var/lib/postgresql/data
        ports:
            - "${POSTGRES_PORT}:5432"
