name: Backend Code Quality

on:
    pull_request:
        paths:
            - "backend/**/*"

defaults:
    run:
        working-directory: backend

jobs:
    lock_file:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v4
            - run: uv lock --locked

    lint:
        runs-on: ubuntu-latest
        needs: [lock_file]
        steps:
            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v4
            - run: uv run ruff check .

    format:
        runs-on: ubuntu-latest
        needs: [lock_file]
        steps:
            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v4
            - run: uv run ruff format --check .

    type_consistency:
        runs-on: ubuntu-latest
        needs: [lock_file]
        steps:
            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v4
            - run: uv run mypy .

    test:
        runs-on: ubuntu-latest
        needs: [lock_file]
        steps:
            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v4
            - name: Checkout Test Data
              uses: actions/checkout@v3
            - run: uv run pytest
