name: Frontend Code Quality

on:
    pull_request:
        paths:
            - "frontend/**/*.tsx"
            - "frontend/**/*.ts"

defaults:
    run:
        working-directory: frontend

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install dependencies
              run: yarn install
            - name: Run lint
              run: yarn lint

    format:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install dependencies
              run: yarn install
            - name: Run format
              run: yarn format

    typecheck:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install dependencies
              run: yarn install
            - name: Run typecheck
              run: yarn typecheck

    test:
        runs-on: ubuntu-latest
        needs: [lint, format, typecheck]
        steps:
            - uses: actions/checkout@v4
            - name: Install dependencies
              run: yarn install
            - name: Run tests
              run: yarn test

    build:
        runs-on: ubuntu-latest
        needs: [test]
        steps:
            - uses: actions/checkout@v4
            - name: Install dependencies
              run: yarn install
            - name: Run build
              run: yarn build
